

#lives{
	top: 0;
	left: 0;
	height: 20vh;
	width: 100vw;
	padding-top: 10vh;
	transform: translateY(-25%);
	text-align: center;
	vertical-align: middle;
}

.moveButton{
	background-color: red;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
	height: 80vh;
	width: 20vw;
	top: 20vh;
	position: fixed;
}

#lane1{
	left: 0vw;
}

#lane2{
	left: 20vw;
}

#lane3{
	left: 40vw;
}

#lane4{
	left: 60vw;
}

#lane5{
	left: 80vw;
}
